app-past-survey,
app-template-survey {
  min-height: 100vh;
  padding-bottom: 24px;
}
::ng-deep .modal-create-survey-dialog {
  .ant-modal-body {
    background: #f4f5f5 !important;
    padding: 0 !important;
    border-radius: 4px 4px 4px 4px;
  }
}
