<span
  [ngClass]="innerClass"
  nz-popover
  [nzTrigger]="trigger"
  [nzContent]="content"
  nzPlacement="bottomRight"
  nzOverlayClassName="notice-popover"
  [nzVisible]="visible"
  (nzVisibleChange)="visibleChange.emit($event)"
>
  <nz-badge [nzCount]="pagging?.total">
    <ng-content></ng-content>
  </nz-badge>
  <ng-template #content>
    <nz-tabset>
      <nz-tab
        *ngFor="let tab of tabs"
        nzTitle="{{ tab.title }} {{
          tab.rows.length
            ? '(' + tab.rows.length + '/' + pagging?.total + ')'
            : ''
        }}"
      >
        <nz-spin [nzSpinning]="spinning">
          <div class="notFound" *ngIf="!tab.rows.length">
            <img [src]="tab.empty.image" alt="not found" />
            <div>{{ tab.empty.text }}</div>
          </div>
          <nz-list
            [nzDataSource]="tab.rows"
            [nzRenderItem]="item"
            *ngIf="tab.rows.length"
          >
            <ng-template #item let-item>
              <nz-list-item [ngClass]="{ read: item.read }">
                <nz-list-item-meta
                  [nzAvatar]="nzAvatar"
                  [nzTitle]="nzTitle"
                  [nzDescription]="nzDescription"
                >
                  <ng-template #nzAvatar>
                    <span class="iconElement">
                      <nz-avatar
                        [nzSize]="48"
                        nzIcon="user"
                        [nzSrc]="item.avatar"
                      >
                      </nz-avatar>
                    </span>
                  </ng-template>
                  <ng-template #nzTitle>
                    <div class="title">
                      <div [innerHTML]="item.title"></div>
                    </div>
                    <div class="buttons">
                      <button
                        (click)="onAccept(item.surveySend)"
                        nz-button
                        [nzSize]="'small'"
                        nzType="primary"
                      >
                        {{ "default.layout.ACCEPT" | translate }}
                      </button>
                      <button
                        (click)="onDeny(item.surveySend)"
                        nz-button
                        [nzSize]="'small'"
                        nzType="default"
                      >
                        {{ "default.layout.DENY" | translate }}
                      </button>
                    </div>
                  </ng-template>
                  <ng-template #nzDescription>
                    <div class="description" *ngIf="item.description">
                      {{ item.description }}
                    </div>
                    <div class="datetime" *ngIf="item.datetime">
                      {{ item.datetime }}
                    </div>
                  </ng-template>
                </nz-list-item-meta>
              </nz-list-item>
            </ng-template>
          </nz-list>
          <div class="clear" (click)="loadMoreNotification()" translate>
            default.layout.LOAD_MORE
          </div>
        </nz-spin>
      </nz-tab>
    </nz-tabset>
  </ng-template>
</span>
