<div class="container">
  <div id="page-container">
    <div id="left-space"></div>
    <div id="mid-space">
      <div class="collectors">
        <nav class="back-nav" *ngIf="surveyCollectorDetail">
          <a [routerLink]="['/create','collector-responses',surveyCollectorDetail.surveyFormId]">
            « {{ 'default.layout.BACK_TO_ALL_COLLECTORS' | translate }}
          </a>
        </nav>
        <main>
          <h1 id="edit-name" class="wds-type-page-title truncate" title="Click to edit nickname">
            {{ surveyCollectorDetail?.name }}
          </h1>
          <span
            (click)="showRenameCollectorModal(surveyCollectorDetail)"
            id="edit-name-icon"
            class="notranslate">
            <i class="fa fa-pencil-square-o"></i>
          </span>
          <span id="collector-created-date" >
            {{ 'default.layout.LINK_CREATED' | translate }}:
            {{ surveyCollectorDetail?.createdAt | date: 'yyyy-MM-dd' }}
          </span>
          <section class="weblink">
            <div id="edit-weblink">
              <div id="collector-status" class="clearfix">
                <b>
                  <a 
                    id="action-menu-link"
                    [ngClass]="surveyCollectorDetail?.status === 'OPEN'? 'open': 'closed'"
                    [nzTrigger]="'click'"
                    [nzDropdownMenu]="menuAction"
                    [nzPlacement]="'bottomCenter'"
                    nz-dropdown>
                    <span id="status-indicator">
                      {{ surveyCollectorDetail?.status }}
                      <i nz-icon nzType="caret-down" nzTheme="outline"></i>
                    </span>
                  </a>
                  <nz-dropdown-menu #menuAction="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                      <li
                        (click)="surveyCollectorDetail?.status === 'OPEN'? showCloseCollectorModal(surveyCollectorDetail) : showOpenCollectorModal(surveyCollectorDetail)"
                        nz-menu-item>
                        <i
                          nz-icon
                          [nzType]="surveyCollectorDetail?.status === 'OPEN'? 'eye-invisible' : 'eye'"
                          nzTheme="outline">
                        </i>
                        {{ (surveyCollectorDetail?.status === 'OPEN' ? 'default.layout.CLOSE_COLLECTOR': 'default.layout.OPEN_COLLECTOR') | translate}}
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </b>
                <a href="" id="manual-entry" >{{ 'default.layout.MANUAL_DATA_ENTRY' | translate }} »</a>
              </div>
              <div class="view-url">
                <i class="fa fa-link collect-link-icon"></i>
                <input class="notranslate" type="text" size="51" readonly onClick="this.select();" [value]="surveyCollectorDetail?.fullUrl" id="weblink-url"/>
                <div class="buttons">
                  <button class="secondary" nz-button nzType="default">
                    CUSTOMIZE
                  </button>
                  <button (click)="onCopyUrl(surveyCollectorDetail?.fullUrl)" class="btn-copy" nz-button nzType="primary">
                    COPY
                  </button>
                </div>
              </div>
              <div id="qrcode-container">
                <button (click)="onDownloadQrCode()" class="secondary" nz-button nzType="default">
                  <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
                  DOWNLOAD QRCODE
                </button>
                <a class="q " data-help="qrcode-popout">
                  <span class="notranslate">?</span>
                </a>
                <div id="qrcode">
                  <ngx-qrcode
                    qrc-element-type="canvas"
                    [qrc-value]="surveyCollectorDetail?.fullUrl"
                  ></ngx-qrcode>
                </div>
              </div>
            </div>
          </section>

          <div class="row">
            <div class="col-md-8">
              <section class="collector-options weblink">
                <app-collector-options
                  [surveyCollectorDetail]="surveyCollectorDetail">
                </app-collector-options>
              </section>
            </div>
            <div class="col-md-4">
              <aside class="sidebar">
                <div class="aside-audience-ad ">
                  <i class="fa fa-users icon-collector"></i>
                  <h4 class="wds-type-card-title">Buy Survey Responses</h4>
                  <div class="clearfix"></div>
                  <p>
                    Get real-time feedback from our panel of global respondents.
                    See results in minutes.
                  </p>
                  <button nz-button nzType="default">
                    GET STARTED
                  </button>
                </div>
                <div class="add-fb-messenger-collector ">
                  <i class="icon-collector" nz-icon nzType="wechat" nzTheme="outline"></i>
                  <h4 class="wds-type-card-title clearfix">
                    New! Reach more people with Messenger
                  </h4>
                  <div class="clearfix"></div>
                  <p>
                    Use our Facebook Messenger Template to get feedback from
                    people wherever they are in the world.
                  </p>
                  <button nz-button nzType="default">
                    TRY IT
                  </button>
                </div>
              </aside>
            </div>
          </div>
          <section class="collector-ads">
            <header class="wds-type-section-title">More ways to send</header>
            <ul>
              <li class="add-weblink-collector  ">
                <a>
                  <i class="fa fa-link icon-collector"></i>
                  <h3 class="wds-type-card-title">
                    Web Link
                  </h3>
                  <p>Ideal for sharing via email, social media, etc.</p>
                </a>
              </li>
              <li class="add-email-collector  ">
                <a>
                  <i class="icon-collector" nz-icon nzType="mail" nzTheme="outline"></i>
                  <h3 class="wds-type-card-title">
                    Email
                  </h3>
                  <p>Ideal for tracking your survey respondents</p>
                </a>
              </li>
              <li class="add-audience-collector  ">
                <a>
                  <i class="fa fa-users icon-collector"></i>
                  <h3 class="wds-type-card-title">Buy Responses</h3>
                  <p>Find people who fit your criteria</p>
                </a>
              </li>
              <li class="add-facebook-collector  ">
                <a>
                  <i class="fa fa-facebook icon-collector"></i>
                  <h3 class="wds-type-card-title">
                    Social Media
                  </h3>
                  <p>Post your survey on Facebook, LinkedIn, or Twitter</p>
                </a>
              </li>
              <li class="add-website-collector  ">
                <a>
                  <i class="fa fa-newspaper-o icon-collector"></i>
                  <h3 class="wds-type-card-title">
                    Website
                  </h3>
                  <p>Embed your survey on your website</p>
                </a>
              </li>
              <li class="add-facebook-collector  ">
                <a>
                  <i class="icon-collector" nz-icon nzType="wechat" nzTheme="outline"></i>
                  <h3 class="wds-type-card-title">Facebook Messenger</h3>
                  <p>Get feedback in Messenger</p>
                </a>
              </li>
            </ul>
          </section>
        </main>
      </div>
    </div>
    <div id="right-space"></div>
  </div>
</div>
