<nz-footer>
  <div class="inner-ft">
    <div class="row">
      <div class="col-md-12">
        <div class="lang-list">
          <nz-button-group>
            <button class="secondary" nz-button>
              {{ currentLanguage.abbr + " " + currentLanguage.text }}
            </button>
            <button
              class="secondary"
              nz-button
              nz-dropdown
              [nzDropdownMenu]="langMenu"
              nzPlacement="bottomLeft"
            >
              <i nz-icon nzType="caret-down" nzTheme="outline"></i>
            </button>
          </nz-button-group>
          <nz-dropdown-menu #langMenu="nzDropdownMenu">
            <ul nz-menu>
              <li
                nz-menu-item
                *ngFor="let item of langs"
                (click)="change(item.code)"
              >
                <span role="img" [attr.aria-label]="item.text" class="pr-xs">{{
                  item.abbr
                }}</span>
                <span class="c-menu-item-text">
                  <span class="menu-item-text">{{ item.text }}</span>
                  <i
                    *ngIf="item.code === currentLanguage.code"
                    class="checked-icon fa fa-check"
                  ></i>
                </span>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </div>
    <div class="ft-bottom row">
      <div class="col-md-8">
        <ul class="link-list">
          <li>
            <a href="" target="_blank"> About UetSurvey</a>
          </li>
          <li>
            <a href="" target="_blank"> Careers</a>
          </li>
          <li>
            <a href="" target="_blank">Developers</a>
          </li>
          <li>
            <a href="" target="_blank">Privacy Policy</a>
          </li>
          <li>
            <a href="" target="_blank">Email Opt-In</a>
          </li>
          <li>
            <a href="" target="_blank"> Help</a>
          </li>
          <li>
            <a href="" target="_blank">Cookies Policy</a>
          </li>
        </ul>
        <span class="copy"> Copyright © 2019 K62CL4TEAM</span>
      </div>
    </div>
  </div>
</nz-footer>
