<div class="inner-modal-body">
  <form [formGroup]="form" nz-form>
    <div nz-row nzGutter="24">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>{{ 'admin.layout.TITLE' | translate }}</nz-form-label>
          <nz-form-control
            [ngClass]="{ 'has-error': isFieldValid(form, 'title') }"
          >
            <input
              formControlName="title"
              nz-input
              [placeholder]="'admin.layout.ENTER_TITLE' | translate"
            />
          </nz-form-control>
          <field-error-display
            [displayError]="isFieldValid(form, 'title')"
            [errors]="f.title.errors"
          >
          </field-error-display>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzGutter="24">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label>{{
            'admin.layout.DESCRIPTION' | translate
          }}</nz-form-label>
          <nz-form-control
            [ngClass]="{ 'has-error': isFieldValid(form, 'description') }"
          >
            <input
              formControlName="description"
              nz-input
              [placeholder]="'admin.layout.ENTER_DESCRIPTION' | translate"
            />
          </nz-form-control>
          <field-error-display
            [displayError]="isFieldValid(form, 'description')"
            [errors]="f.description.errors"
          >
          </field-error-display>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzGutter="24">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label
            >{{ 'default.layout.CATEGORY' | translate }}
          </nz-form-label>
          <nz-form-control
            [ngClass]="{ 'has-error': isFieldValid(form, 'category') }"
          >
            <nz-select
              nzShowSearch
              nzAllowClear
              [nzPlaceHolder]="'default.layout.SELECT_CATEGORY' | translate"
              formControlName="category"
            >
              <nz-option
                [nzValue]=""
                [nzLabel]="'default.layout.SELECT_CATEGORY' | translate"
              ></nz-option>
              <ng-container *ngFor="let o of listOfAllCategory">
                <nz-option
                  [nzValue]="o.value"
                  [nzLabel]="o.viewValue"
                ></nz-option>
              </ng-container>
            </nz-select>
          </nz-form-control>
          <field-error-display
            [displayError]="isFieldValid(form, 'category')"
            [errors]="f.category.errors"
          >
          </field-error-display>
        </nz-form-item>
      </div>
    </div>
  </form>
</div>

<div class="actions">
  <button
    (click)="onSaveSurvey(form)"
    nz-button
    nzType="primary"
    [nzLoading]="buttonLoading"
  >
    <span translate>default.layout.CREATE_SURVEY</span>
  </button>
</div>
