<div class="container">
  <div id="page-container">
    <div id="left-space"></div>
    <div id="mid-space">
      <div class="collectors clearfix">
        <ng-container *ngIf="listOfAllSurveyCollect?.length > 0; else noCollectResponsesTpl">
          <div class="add-collector">
            <h1 class="wds-type-section-title" translate>default.layout.SURVEY_COLLECTORS</h1>
            <div class="btn-menu wds-button-group">
              <button [nzTrigger]="'click'" [nzDropdownMenu]="menuCollectorType" [nzPlacement]="'bottomCenter'" nz-dropdown nz-button nzType="primary">
                {{ 'default.layout.ADD_NEW_COLLECTOR' | translate }}
                <i nz-icon nzType="caret-down" nzTheme="outline"></i>
              </button>
              <nz-dropdown-menu #menuCollectorType="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li (click)="onAddNewCollector('WEBLINK')" nz-menu-item>
                    <i class="fa fa-link"></i>
                    {{ 'default.layout.WEB_LINK_COLLECTOR' | translate }}
                  </li>
                  <li (click)="onAddNewCollector('EMAIL')" nz-menu-item>
                    <i nz-icon nzType="mail" nzTheme="outline"></i>
                    {{ 'default.layout.EMAIL_COLLECTOR' | translate }}
                  </li>
                  <li nz-menu-item>
                    <i class="fa fa-users "></i>
                    {{ 'default.layout.BUY_RESPONSES' | translate }}
                  </li>
                  <li nz-menu-item>
                    <i class="fa fa-facebook"></i>
                    {{ 'default.layout.POST_TO_SOCIAL_MEDIA' | translate }}
                  </li>
                  <li nz-menu-item>
                    <i class="fa fa-newspaper-o"></i>
                    {{ 'default.layout.WEBSITE_COLLECTOR' | translate }}
                  </li>
                  <li nz-menu-item>
                    <i nz-icon nzType="wechat" nzTheme="outline"></i>
                    {{ 'default.layout.FACEBOOK_MESSENGER' | translate }}
                  </li>
                </ul>
              </nz-dropdown-menu>
            </div>
          </div>
          <div class="collector-list-grid-container">
            <nz-card [style.marginBottom.px]="24">
              <div nz-row>
                <div class="col-sm-12">
                  <nz-table
                    #userTable
                    nzShowPagination
                    nzShowSizeChanger
                    [nzData]="listOfAllSurveyCollect"
                    [nzPageSize]="pagging.pageSize"
                    [nzTotal]="pagging.total"
                    [nzFrontPagination]="false"
                    (nzPageIndexChange)="pageIndexChange($event)"
                    (nzPageSizeChange)="pageSizeChange($event)"
                    [nzBordered]="true"
                    [nzTitle]="titleTemplate">
                    <thead (nzSortChange)="sort($event)" nzSingleSort>
                      <tr *ngIf="columns.length > 0">
                        <th>{{'default.layout.TABLE_NO' | translate | uppercase}}
                        </th>
                        <th
                          *ngIf="showMoveToFolder"
                          nzShowCheckbox
                          [(nzChecked)]="isAllDisplayDataChecked"
                          (nzCheckedChange)="checkAll($event)"
                          [nzIndeterminate]="isIndeterminate">
                        </th>
                        <ng-container *ngFor="let column of columns">
                          <th
                            [nzAlign]="'center'"
                            nzCustomFilter
                            *ngIf="!column.hidden"
                            [nzShowSort]="column.sortable"
                            [nzSortKey]="column.id"
                            [nzShowFilter]="column.filter"
                            [nzFilters]="column.filter ? column.filter : []"
                            (nzFilterChange)="filter($event, column.filterKey || column.id)">
                              {{ column.header | translate | uppercase }}
                            <i
                              *ngIf="column.search"
                              class="ant-table-filter-icon"
                              nz-icon
                              nz-dropdown
                              #dropdown="nzDropdown"
                              nzType="search"
                              [nzDropdownMenu]="menuSearch"
                              [class.ant-table-filter-open]="dropdown.nzVisible"
                              nzTrigger="click"
                              nzPlacement="bottomRight"
                              [nzClickHide]="false"
                              nzTableFilter
                              (click)="filter.searchKey = column.id">
                            </i>
                          </th>
                        </ng-container>
                        <th *ngIf="!showMoveToFolder" [nzAlign]="'center'">{{ 'default.layout.MORE' | translate | uppercase }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of userTable.data; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td
                          *ngIf="showMoveToFolder"
                          nzShowCheckbox
                          [(nzChecked)]="mapOfCheckedId[data.id]"
                          [nzDisabled]="data.disabled"
                          (nzCheckedChange)="checkItem(data.id, $event)">
                        </td>
                        <ng-container *ngFor="let column of columns">
                          <td [nzAlign]="'center'" [ngClass]="column.className" *ngIf="!column.hidden">
                            <ng-container [ngSwitch]="column.type">
                              <ng-container *ngSwitchCase="'text'">
                                <div
                                  *ngIf="data[column.id].length > 20"
                                  [nzTooltipTitle]="data[column.id]"
                                  nzTooltipPlacement="top"
                                  nz-tooltip>
                                  <a *ngIf="column.action" routerLink="column.action.link(data.id, data.type)">
                                    {{ data[column.id] | summary }}
                                  </a>
                                  <ng-container *ngIf="!column.action">
                                    {{ data[column.id] | summary }}
                                  </ng-container>
                                </div>
                                <div *ngIf="data[column.id].length <= 20">
                                  <a *ngIf="column.action" [routerLink]="column.action.link(data.id, data.type)">
                                    {{ data[column.id] | summary }}
                                  </a>
                                  <ng-container *ngIf="!column.action">
                                    {{ data[column.id] | summary }}
                                  </ng-container>
                                </div>
                                <div *ngIf="column.td_two">
                                  {{ 'default.layout.CREATED' | translate }}
                                  {{ data[column.td_two] | date: 'yyyy-MM-dd' }}
                                </div>
                              </ng-container>
                              <ng-container *ngSwitchCase="'date'">
                                <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
                                {{ data[column.id] | date: 'yyyy-MM-dd hh:mm' }}
                              </ng-container>
                              <ng-container *ngSwitchCase="'icon'">
                                <span class="action-icon">
                                  <i
                                    nz-icon
                                    [nzType]="column?.action?.iconMap(data[column.id])"
                                    nzTheme="outline"
                                  ></i>
                                </span>
                              </ng-container>
                              <ng-container *ngSwitchCase="'status'">
                                <span
                                  class="sm-badge sm-badge-sm"
                                  [ngClass]="column?.action?.classMap(data[column.id])">
                                  <a
                                    (click)="column?.action?.doChangeStatus(data, data[column.id])"
                                    sm-tooltip-side="bottom">{{ data[column.id] }}
                                  </a>
                                </span>
                              </ng-container>
                            </ng-container>
                          </td>
                        </ng-container>
                        <td [nzAlign]="'center'">
                          <a [nzTrigger]="'click'" [nzDropdownMenu]="menuAction" [nzPlacement]="'bottomCenter'" nz-dropdown>
                            <i nz-icon nzType="ellipsis" nzTheme="outline" class="icon-action"></i>
                          </a>
                          <nz-dropdown-menu #menuAction="nzDropdownMenu">
                            <ul nz-menu nzSelectable>
                              <li
                                (click)="data.status === 'OPEN' ? showCloseCollectorModal(data) : showOpenCollectorModal(data)"
                                nz-menu-item>
                                <i
                                  nz-icon
                                  [nzType]="data.status === 'OPEN'? 'eye-invisible': 'eye'"
                                  nzTheme="outline">
                                </i>
                                {{ (data.status === 'OPEN' ? 'default.layout.CLOSE_COLLECTOR' : 'default.layout.OPEN_COLLECTOR') | translate}}
                              </li>
                              <li
                                [routerLink]="['/create','collector-responses','collector-link',data.id]"
                                nz-menu-item>
                                <i nz-icon nzType="form" nzTheme="outline"></i>
                                {{ 'default.layout.EDIT_COLLECTOR' | translate}}
                              </li>
                              <li
                                (click)="showRenameCollectorModal(data)"
                                nz-menu-item>
                                <i nz-icon nzType="edit" nzTheme="outline"></i>
                                {{'default.layout.RENAME_COLLECTOR' | translate}}
                              </li>
                              <li
                                (click)="showClearResponsesConfirm(data, tplContentClearResponsesCollector)"
                                nz-menu-item>
                                <i
                                  nz-icon
                                  nzType="close-circle"
                                  nzTheme="outline">
                                </i>
                                {{ 'default.layout.CLEAR_ALL_RESPONSES' | translate}}
                              </li>
                              <li
                                (click)="showDeleteConfirm(data, tplContentDeleteCollector)"
                                nz-menu-item>
                                <i
                                  nz-icon
                                  nzType="delete"
                                  nzTheme="outline">
                                </i>
                                {{'default.layout.DELETE_COLLECTOR' | translate}}
                              </li>
                            </ul>
                          </nz-dropdown-menu>
                        </td>
                      </tr>
                    </tbody>
                  </nz-table>
                  <footer class="collectors-footer wds-type-product-ui wds-type-weight-regular">
                    <b translate>default.layout.COLLECTORS</b>:
                    {{ 'default.layout.SHOWING' | translate }}
                    {{ 'default.layout.FROM' | translate }}
                    {{ pagging.page * pagging.pageSize - pagging.pageSize + 1 }}
                    {{ 'default.layout.TO' | translate }}
                    {{ pagging.page * pagging.pageSize }}
                    {{ 'default.layout.OF' | translate }} {{ pagging.total }}
                  </footer>
                </div>
              </div>
            </nz-card>
          </div>
          <div class="collector-ads">
            <header class="wds-type-section-title">Add a new collector</header>
            <ul>
              <li class="add-weblink-collector  ">
                <a>
                  <i class="fa fa-link icon-collector"></i>
                  <h3 class="wds-type-card-title">
                    Web Link
                  </h3>
                  <p>Ideal for sharing via email, social media, etc.</p>
                </a>
              </li>
              <li class="add-email-collector  ">
                <a>
                  <i
                    class="icon-collector"
                    nz-icon
                    nzType="mail"
                    nzTheme="outline">
                  </i>
                  <h3 class="wds-type-card-title">
                    Email
                  </h3>
                  <p>Ideal for tracking your survey respondents</p>
                </a>
              </li>
              <li class="add-audience-collector  ">
                <a>
                  <i class="fa fa-users icon-collector"></i>
                  <h3 class="wds-type-card-title">Buy Responses</h3>
                  <p>Find people who fit your criteria</p>
                </a>
              </li>
              <li class="add-facebook-collector  ">
                <a>
                  <i class="fa fa-facebook icon-collector"></i>
                  <h3 class="wds-type-card-title">
                    Social Media
                  </h3>
                  <p>Post your survey on Facebook, LinkedIn, or Twitter</p>
                </a>
              </li>
              <li class="add-website-collector  ">
                <a>
                  <i class="fa fa-newspaper-o icon-collector"></i>
                  <h3 class="wds-type-card-title">
                    Website
                  </h3>
                  <p>Embed your survey on your website</p>
                </a>
              </li>
              <li class="add-facebook-collector  ">
                <a>
                  <i class="icon-collector" nz-icon nzType="wechat" nzTheme="outline"></i>
                  <h3 class="wds-type-card-title">Facebook Messenger</h3>
                  <p>Get feedback in Messenger</p>
                </a>
              </li>
            </ul>
          </div>
        </ng-container>
      </div>
    </div>
    <div id="right-space"></div>
  </div>
</div>

<ng-template #noCollectResponsesTpl>
  <div id="chooseMethod" class="chooseMethod">
    <section id="add-collector">
      <h1 class="wds-type-page-title" translate>
        default.layout.HOW_WOULD_YOU_LIKE_TO_COLLECT_RESPONSES_TO_YOUR_SURVEY
      </h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card-collector">
            <i
              class="icon-collector"
              nz-icon
              nzType="mail"
              nzTheme="outline"
            ></i>
            <h3 class="wds-type-card-title" translate>
              default.layout.SEND_BY_EMAIL
            </h3>
            <p class="wds-type-product-ui wds-type-weight-regular" translate>
              default.layout.CREATE_CUSTOM_EMAIL_INVITATIONS_AND_TRACK_WHO_RESPONDS_SEND_FOLLOW_UP_REMINDERS_TO_THOSE_WHO_HAVEN_RESPONDED
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div (click)="onAddNewCollector('WEBLINK')" class="card-collector">
            <i class="fa fa-link icon-collector"></i>
            <h3 class="wds-type-card-title" translate>
              default.layout.GET_WEB_LINK
            </h3>
            <p class="wds-type-product-ui wds-type-weight-regular" translate>
              default.layout.SHARE_A_WEB_LINK_VIA_EMAIL_ON_WEBSITE_OR_POST_TO_SOCIAL_MEDIA_YOU_CAN_ALSO_SCHEDULE_A_RECURRING_WEB_LINK
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-collector">
            <i class="fa fa-users icon-collector"></i>
            <h3 class="wds-type-card-title" translate>
              default.layout.BUY_RESPONSES
            </h3>
            <p class="wds-type-product-ui wds-type-weight-regular" translate>
              default.layout.GET_REAL_TIME_FEEDBACK_FROM_OUR_PANEL_OF_GLOBAL_RESPONDENTS_SEE_RESULTS_IN_MINUTES
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-collector">
            <i class="fa fa-facebook icon-collector"></i>
            <h3 class="wds-type-card-title" translate>
              default.layout.POST_ON_SOCIAL_MEDIA
            </h3>
            <p class="wds-type-product-ui wds-type-weight-regular" translate>
              default.layout.POST_YOUR_SURVEY_ON_FACEBOOK_LINKEDIN_OR_TWITTER
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-collector">
            <i
              class="icon-collector"
              nz-icon
              nzType="wechat"
              nzTheme="outline"
            ></i>
            <h3 class="wds-type-card-title" translate>
              default.layout.SHARE_IN_MESSENGER
            </h3>
            <p class="wds-type-product-ui wds-type-weight-regular" translate>
              default.layout.LET_OTHERS_TAKE_YOUR_SURVEY_DIRECTLY_IN_FACEBOOK_MESSENGER
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-collector">
            <i class="fa fa-newspaper-o icon-collector"></i>
            <h3 class="wds-type-card-title" translate>
              default.layout.EMBED_ON_WEBSITE
            </h3>
            <p class="wds-type-product-ui wds-type-weight-regular" translate>
              default.layout.EMBED_YOUR_SURVEY_ON_YOUR_WEBSITE_OR_A_LINK_TO_YOUR_SURVEY_IN_A_POPUP_WINDOW
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</ng-template>

<!-- Template content modal delele -->
<ng-template #tplContentDeleteCollector>
  <div>
    {{ 'default.layout.COLLECTOR_NICKNAME' | translate }}:
    {{ surveyCollectorDelete?.name }}
  </div>
  <div>
    {{ 'default.layout.DATE_CREATED' | translate }}:
    {{ surveyCollectorDelete?.createdAt | date: 'medium' }}
  </div>
  <div>
    {{ 'default.layout.DATE_MODIFIED' | translate }}:
    {{ surveyCollectorDelete?.updatedAt | date: 'medium' }}
  </div>
</ng-template>
<!-- End Template content modal delele -->

<!-- Template content modal clear response -->
<ng-template #tplContentClearResponsesCollector>
  <div>
    {{ 'default.layout.COLLECTOR_NICKNAME' | translate }}:
    {{ surveyCollectorClearResponses?.name }}
  </div>
  <div>
    {{ 'default.layout.DATE_CREATED' | translate }}:
    {{ surveyCollectorClearResponses?.createdAt | date: 'medium' }}
  </div>
  <div>
    {{ 'default.layout.DATE_MODIFIED' | translate }}:
    {{ surveyCollectorClearResponses?.updatedAt | date: 'medium' }}
  </div>
  <div>
    {{ 'default.layout.NUMBER_OF_RESPONSES' | translate }}:
    {{ surveyCollectorClearResponses?.response }}
  </div>
</ng-template>
<!-- End Template content modal clear response -->
