<div class="sm-all-templates-tab-container">
  <div
    class="sm-all-templates-tab-actions sm-all-templates-tab-actions-no-tabs"
  >
    <div class="wds-flex wds-flex-x w-100 sm-all-templates-tab-actions-inner">
      <div>
        <button
          nz-dropdown
          nzTrigger="click"
          nz-button
          [nzSize]="'large'"
          nzType="default"
        >
          View all templates
          <i class="icon" nz-icon nzType="caret-down" nzTheme="outline"></i>
        </button>
      </div>
      <div class="sm-list-view-toggle">
        <div class="wds-button-group">
          <button
            class="sm-list-view-toggle-grid-button secondary"
            nz-button
            nzType="primary"
          >
            <i class="fa fa-th"></i>
          </button>
          <button
            class="sm-list-view-toggle-grid-button"
            nz-button
            nzType="default"
          >
            <i class="fa fa-th-list"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div
    class="m-b-2 sm-all-templates-tab-category-heading sm-all-templates-tab-category-heading-no-tabs"
  >
    <div class="sm-all-templates-tab-category-heading-inner">
      <span class="wds-type-section-title">Most Popular</span>
    </div>
  </div>
  <div class="wds-flex wds-flex-x sm-all-templates-tab-row w-100 p-b-5">
    <div class="w-100">
      <div class="w-100 wds-flex wds-flex-y">
        <div class="row">
          <div class="sm-base-tile sm-survey-template-tile">
            <div class="h-100 sm-base-tile-container">
              <div class="sm-survey-template-tile-inner p-0">
                <div class="sm-survey-template-tile-image-content wds-flex">
                  <img
                    class="sm-survey-template-tile-stock-image"
                    src="assets/images/customer_satisfaction_template.jpg"
                  />
                </div>
                <div class="sm-survey-template-tile-text-content">
                  <div class="p-0">
                    <div class="type-left type-body">
                      <div>
                        <span
                          class="wds-type-card-title sm-survey-template-tile-title sm-truncate-multi-line"
                          style="-webkit-line-clamp: 2;"
                        >
                          Customer Satisfaction Survey Template
                        </span>
                      </div>
                      <div>
                        <span
                          class="wds-type-body-sm sm-survey-template-tile-description sm-truncate-multi-line"
                          style="-webkit-line-clamp: 2;"
                        >
                          Your customers can make or break your business. Hear
                          from them directly about what you're doing well and
                          what you need to improve.
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
