@import "./../../../../styles/variables.scss";

:host {
  display: inline-block;
  width: 100%;
}

textarea {
  resize: none;
  padding-top: 6px;
  padding-bottom: 6px;
}

.output {
  color: $brownish-grey;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.markdown-editor {
  cursor: pointer;
  display: inline-block;
  width: 100%;

  .view {
    position: relative;

    .output {
      line-height: 20px;
      img {
        max-width: 100%;
      }
    }

    .pencil {
      position: absolute;
      display: block;
      opacity: 0;
      top: 0;
      right: 0;
    }
  }

  .editable {
    .output {
      border-radius: 4px;
      border: 1px solid $panel-border-color;
      overflow: auto;
      padding: 7px 3px;
    }

    &:hover {
      .pencil {
        border: 1px solid #d6dee2;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 100%;
        opacity: 1;
        width: 40px;
        background-color: $survey-light-gray;
        color: $charcoal-grey;
        text-align: center;
        padding-top: 6px;

        .fa-pencil {
          opacity: 0.7;
        }
      }
    }
  }

  .edit {
    width: 100%;
  }
}

.placeholder {
  color: rgba(62, 63, 66, 0.4);
}

.md-editor {
  border-radius: 4px;
  &.active {
    border-color: $theme-color;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(139, 70, 148, 0.25);
  }
  .hidden {
    display: none !important;
  }
  .md-input {
    padding: 3px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .btn-toolbar {
    display: block;
    padding: 6px 4px;
    background: #f5f5f5;
    margin: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    &:before,
    &:after {
      display: table;
      content: " ";
      clear: both;
    }
    .btn-group {
      margin-left: 5px;
      float: left;
      position: relative;
      vertical-align: middle;

      .btn {
        & + .btn {
          margin-left: -1px;
        }

        &:last-child:not(:first-child) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        &:not(:first-child):not(:last-child):not(.dropdown-toggle) {
          border-radius: 0;
        }
      }

      .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        &.btn-default {
          color: #333;
          background-color: #fff;
          border-color: #ccc;
          &:hover {
            color: #333;
            background-color: #e6e6e6;
            border-color: #adadad;
          }
        }

        &.btn-sm {
          padding: 5px 10px;
          font-size: 12px;
          line-height: 1.5;
          border-radius: 3px;
        }
      }
    }
  }
}
