<app-layout
  [(collapsed)]="layout.collapsed"
  [siderMode]="layout.siderMode"
  [topMode]="layout.topMode()"
  [setting]="layout.setting"
>
  <ng-container sider>
    <div class="logo" [class.light]="layout.setting.theme == 'light'">
      <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
        <img src="./assets/images/logo/logo.svg" alt="Image Logo" />
        <h1>Ant Design</h1>
      </a>
    </div>
    <app-sidebar
      [data]="menu"
      [inlineCollapsed]="layout.siderMode == 'over' ? false : layout.collapsed"
    ></app-sidebar>
  </ng-container>

  <ng-container header>
    <app-header>
      <ng-container left *ngIf="!layout.topMode()">
        <i
          nz-icon
          class="anticon trigger"
          [nzType]="layout.collapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="layout.collapsed = !layout.collapsed"
        ></i>
      </ng-container>
      <ng-container left *ngIf="layout.topMode()">
        <div class="logo">
          <img src="./assets/images/logo/logo.svg" alt="Image Logo" />
        </div>
        <app-sidebar [data]="menu" mode="horizontal"></app-sidebar>
      </ng-container>
      <ng-container right>
        <app-notice-popover
          [spinning]="notice.spinning"
          [data]="notice.data"
          [innerClass]="{ action: true, notice: true }"
          (clear)="notice.clear($event)"
          (visibleChange)="notice.visibleChange($event)"
        >
          <i nz-icon nzType="bell" nzTheme="outline"></i>
        </app-notice-popover>
        <span nz-dropdown class="action account" [nzDropdownMenu]="menuUser">
          <nz-avatar nzSize="small" nzIcon="user"></nz-avatar>
          <span class="name" *ngIf="currentUser">
            {{ currentUser?.firstName + ' ' + currentUser?.lastName }}</span
          >
        </span>
        <nz-dropdown-menu nzPlacement="bottomRight" #menuUser="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item routerLink="/account/center">
              <i nz-icon nzType="user"></i>User
            </li>
            <li nz-menu-item routerLink="/account/setting">
              <i nz-icon nzType="setting"></i>Setting
            </li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="logout()">
              <i nz-icon nzType="logout"></i>Logout
            </li>
          </ul>
        </nz-dropdown-menu>
        <span
          nzTrigger="click"
          nz-dropdown
          class="action account"
          [nzDropdownMenu]="menuConfig"
        >
          <i nz-icon style="font-size: 20px;" nzType="appstore"></i>
        </span>
        <nz-dropdown-menu
          nzPlacement="bottomCenter"
          #menuConfig="nzDropdownMenu"
        >
          <ul nz-menu>
            <li nz-menu-item>
              <header-fullscreen></header-fullscreen>
            </li>
            <li nz-menu-item>
              <header-storage></header-storage>
            </li>
            <li nz-menu-item>
              <header-i18n></header-i18n>
            </li>
          </ul>
        </nz-dropdown-menu>
        <app-setting-drawer
          [(setting)]="layout.setting"
          [innerClass]="{ action: true, setting: true }"
        >
          <i nz-icon nzType="setting"></i>
        </app-setting-drawer>
      </ng-container>
    </app-header>
  </ng-container>

  <ng-container content>
    <router-outlet></router-outlet>
  </ng-container>

  <app-footer></app-footer>
</app-layout>
