<div class="wds-flex h-100 m-0">
  <div
    class="wds-flex wds-flex-y sm-full-screen-modal-with-side sm-full-screen-modal-without-side"
  >
    <div
      class="sm-full-screen-modal-header wds-bg-light wds-flex wds-flex-between wds-flex-y-center p-2"
    >
      <button
        (click)="closeModalPreview()"
        nz-button
        nzType="link"
        class="wds-button-secondary wds-button-text sm-copy-survey-modal-back"
      >
        <i nz-icon nzType="close-circle" nzTheme="outline"></i>
        {{ 'default.layout.CLOSE' | translate }}
      </button>
    </div>
    <div class="w-100 h-100 wds-flex-item--grow">
      <div class="sm-copy-survey-modal-body">
        <ng-container *ngIf="surveyFormDetail">
          <survey-creator
            [json]="surveyFormDetail.json"
            [activeTab]="'test'"
          ></survey-creator>
        </ng-container>
      </div>
    </div>
  </div>

  <div
    class="sm-full-screen-modal-side-content wds-bg-light p-0 wds-flex wds-flex-y"
  >
    <div class="sm-copy-survey-modal-title-container">
      <h1
        class="wds-type-section-title sm-truncate-multi-line"
        style="-webkit-line-clamp: 2;"
      >
        {{ surveyFormDetail?.title }}
      </h1>
      <div class="wds-type-dark-muted wds-type-body-sm m-b-5">
        {{ 'default.layout.MODIFIED' | translate }}:
        {{ surveyFormDetail?.updatedAt | date: 'dd/MM/yyyy' }}
      </div>
      <button
        (click)="onUpdateFavorite(surveyFormDetail)"
        nz-button
        nzType="link"
        class="wds-button-secondary wds-button-text wds-button-sm"
      >
        <i
          [ngClass]="{
            'sm-survey-tile-badge-favorite': surveyFormDetail?.isFavorite
          }"
          nz-icon
          nzType="star"
          [nzTheme]="'fill'"
        ></i>
        {{ 'default.layout.REMOVE_FROM_FAVORITES' | translate }}
      </button>
    </div>
    <div class="sm-copy-survey-modal-overview-container wds-flex wds-flex-y">
      <div class="sm-copy-survey-modal-score m-t-4 m-b-5">
        <div class="wds-type-body-sm m-b-4" translate>
          default.layout.YOU_CAN_ALWAYS_MAKE_CHANGES_TO_THE_THEME_AND_SURVEY
        </div>
        <div class="wds-type-card-title" translate>
          default.layout.QUESTIONS
        </div>
        <div class="wds-type-section-title m-b-4">
          {{ countQuestionSurvey(survey?.json) }}
        </div>
        <div class="wds-type-card-title" translate>
          default.layout.RESPONSES
        </div>
        <div class="wds-type-section-title m-b-4">
          {{ surveyFormDetail?.response }}
        </div>
      </div>
    </div>
    <div class="sm-copy-survey-modal-actions wds-flex wds-flex-y p-5">
      <button
        (click)="onMakeCopy(surveyFormDetail)"
        class="wds-button-md"
        nz-button
        nzType="primary"
      >
        {{ 'default.layout.COPY_THIS_SURVEY' | translate }}
        <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
      </button>
    </div>
  </div>
</div>
