<ng-container *ngIf="listOfAllData.length > 0; else emptyList">
  <div class="row">
    <ng-container *ngFor="let survey of listOfAllData">
      <div class="sm-base-tile sm-survey-tile">
        <div
          (click)="onPreviewCopy(survey)"
          class="h-100 sm-base-tile-container"
        >
          <div class="sm-survey-tile-inner">
            <div
              class="wds-type-card-title sm-survey-tile-title sm-truncate-multi-line"
              style="-webkit-line-clamp: 2;"
            >
              {{ survey.title }}
            </div>
            <div class="sm-survey-tile-details wds-flex wds-flex-y">
              <div class="wds-type-dark-muted wds-type-body-sm">
                {{ countQuestionSurvey(survey.json) }}
                {{ "default.layout.QUESTIONS" | translate | lowercase }}
              </div>
              <div class="wds-type-dark-muted wds-type-body-sm">
                {{ survey.response }}
                {{ "default.layout.RESPONSES" | translate | lowercase }}
              </div>
            </div>
          </div>
        </div>
        <div
          (click)="onUpdateFavorite(survey.id)"
          [nzTooltipTitle]="'default.layout.FAVORITES' | translate"
          nzTooltipPlacement="top"
          nz-tooltip
          class="sm-survey-tile-badge-container"
        >
          <i
            [ngClass]="{ 'sm-survey-tile-badge-favorite': survey.isFavorite }"
            nz-icon
            nzType="star"
            [nzTheme]="'fill'"
          >
          </i>
        </div>
      </div>
    </ng-container>
  </div>
  <div>
    <button
      nz-button
      nzType="link"
      *ngIf="pagging?.total - pagging.pageSize * pagging.page > 0"
      (click)="loadMoreSurvey()"
      class="wds-button-text"
    >
      {{ "default.layout.VIEW" | translate }}
      {{
        pagging.pageSize * (pagging.page + 1) > pagging?.total
          ? pagging?.total - pagging.pageSize * pagging.page
          : pagging.pageSize
      }}
      {{ "default.layout.MORE" | translate | lowercase }}
    </button>
  </div>
</ng-container>

<ng-template #emptyList>
  <div class="row">
    <nz-empty
      [nzNotFoundImage]="'assets/images/empty.png'"
      [nzNotFoundContent]="contentTpl"
    >
      <ng-template #contentTpl>
        <span
          >{{ emptyDescription | translate }}
          {{ filter.searchValue !== "" ? '"' + filter.searchValue + '".' : "" }}
        </span>
      </ng-template>
    </nz-empty>
  </div>
</ng-template>
